{% extends 'layout/base.html' %}

{% block title %}Weights Index{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Weights</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Weights</li>
    </ol>

    <div class="card mb-4">
        <div class="card-body row">
            {% for dog in dog_data %}
            <div class="col-md-6">
                <canvas id="myAreaChart_{{dog.info.id}}" width="100%" height="30"></canvas>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header d-flex">
            <h3><i class="fas fa-table mr-1"></i>
            History</h3>
            <button type="button" class="btn btn-primary ml-auto" data-toggle="modal" data-target="#weightModal">
                Log Weight
            </button>
        </div>
        <div class="card-body">
            <div class="row">
                {% for dog in dog_data %}
                <div class="col">
                    <h4>{{dog.info.name}}</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Weight</th>
                                <th>Measured By</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for rec in dog.weights %}
                            <tr>
                                <td>{{rec.date_measured.strftime('%d %b %Y')}}</td>
                                <td>{{rec.weight}}</td>
                                <td>{{rec.first_name}} {{rec.surname}}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="text-center" colspan="3">No weights measured</td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
                {% endfor%}
            </div>
        </div>
    </div>
</div>

{% include 'weight/weight_modal.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script>
{% for dog in dog_data %}
var ctx = document.getElementById("myAreaChart_{{dog.info.id}}");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: [
        {% for record in dog.chart_data[0] %}
            "{{-record.strftime('%d %b %Y')}}"{{',' if not loop.last-}}
        {% endfor %}
    ],
    datasets: [{
      label: "{{dog.info.name}}",
      lineTension: 0.3,
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 5,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(255,255,255,0.8)",
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(2,117,216,1)",
      pointHitRadius: 50,
      pointBorderWidth: 2,
      data: [
      {% for record in dog.chart_data[1] %}
        {{-record}}{{',' if not loop.last-}}
      {% endfor %}
      ],
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          min: 0,
          //max: 40000,
          maxTicksLimit: 5
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: false
    }
  }
});
{% endfor %}

</script>
{% endblock %}