{% extends 'layout/frame.html'%}

{% block body %}
{% include 'layout/top-nav.html' %}
<div id="layoutSidenav">
    {% include 'layout/side-nav.html'%}
    <div id="layoutSidenav_content">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages%}
                {% include 'layout/flash_msg.html'%}
            {% endif %}
        {% endwith %}
        <main>
            {% block content %}{% endblock %}
        </main>
        {% include 'layout/footer.html' %}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='dist/js/moment.js')}}"></script>
<script src="{{url_for('static', filename='dist/js/moment-duration-format.js')}}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='src/js/scripts.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<!--        <script src="assets/demo/chart-area-demo.js"></script>-->
<!--        <script src="assets/demo/chart-bar-demo.js"></script>-->
<!--        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>-->
<!--        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>-->
<!--        <script src="assets/demo/datatables-demo.js"></script>-->
{% endblock %}
