{% extends 'layout/base.html' %}

{% block title %}Loo{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Commands</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Commands</li>
    </ol>

    {% for command in dog_commands%}
    {{ '<div class="row">'|safe if loop.index0 % 2 == 0 }}
        <div class="col-6">
            <div class="card mb-4">
                <div class="card-header d-flex">
                    <h3>{{command.command}}</h3>
                    <span class="ml-auto">
                        {{command.level}}
                    </span>
                </div>
                <div class="card-body">
                    {{command.description}}
                </div>
            </div>
        </div>
        {% if loop.last %}
        <div class="col-6">
            <div class="card bg-success text-white mb-4">
                {% include 'commands/command_form.html' %}
            </div>
        </div>
        {% endif %}
        {{ "</div>"|safe if loop.index % 2 == 0 }}
    {% else %}
    No Commands Found
    <div class="row">
        <div class="col card bg-info text-white mb-4">
            {% include 'commands/command_form.html' %}
        </div>
    </div>
    {% endfor%}
</div>
{% endblock %}