<!-- The Modal -->
<div class="modal fade" id="walkModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Dog Loo Breaks</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form method="post" action="{{url_for('loo.upsert')}}">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputDog">Dog</label>
                        </div>
                        <select id="inputDog" name="inputDog" class="custom-select" required>
                            <option>Select a Dog</option>
                            {% for dog in dog_data%}
                            <option {{
                            ' selected' if dog_data|length == '1'}}
                            value="{{dog.info.id}}">{{dog.info.name}}</option>
                            {% else %}
                            <option disabled>No Dogs linked</option>
                            {% endfor %}
                        </select>
                    </div>

                    {% for opt in ['Type']%}
                    <div class="form-group mb-3 d-flex form-row">
                        <div class="input-group-prepend">
                            <label class="input-group-text">{{opt}}</label>
                        </div>

                        <div class="btn-group btn-group-toggle flex-grow-1" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input class="rate_cb" type="radio" name="{{opt|lower}}_options" id="{{opt|lower}}_1"
                                       autocomplete="off" value="Liquid">
                                Liquid
                            </label>
                            <label class="btn btn-secondary">
                                <input class="rate_cb" type="radio" name="{{opt|lower}}_options" id="{{opt|lower}}_2"
                                       autocomplete="off" value="Runny Solid">
                                Runny Solid
                            </label>
                            <label class="btn btn-secondary">
                                <input class="rate_cb" type="radio" name="{{opt|lower}}_options" id="{{opt|lower}}_3"
                                       autocomplete="off" value="Solid">
                                 Solid
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <label for="inputNotes">Notes:</label>
                        <textarea class="form-control" name="inputNotes" rows="5" id="inputNotes"></textarea>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button class="btn btn-success" type="submit">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>